.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html{
  --main-color: rgb(104,2,169);
  --label-color: rgb(160,160,160);
  --white: #fafafa;
  --negative: rgb(239,64,64);
  --positive: rgb(76,137,245);
}
#app{
  display: grid;
  grid-template-rows: 60px auto 50px;
  height: 100vh;
}
#top-banner{
  background-color: var(--main-color);
}
#container{
  height: 100%;
  margin: 0 2%;
}
#interviewer{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
#interviewer > .interviewer-item{
  width: 150px;
  margin: 0 25px;
  text-align: center;
  position: relative;
}
#interviewer > .interviewer-item > span{
  display: block;
}
#interviewer > .interviewer-item>.icon{
  color: var(--main-color);
  font-size: 60px;
}
#interviewer > .interviewer-item>.delete{
  position: absolute;
  right: 0;
  top: 0;
}
#bottom-navigation{
  position: fixed;
  display: flex;
  bottom: 0;
  height: 50px;
  width: calc(100% - 50px);
  padding: 15px 25px;
}
#bottom-navigation > .right{
  margin-left: auto;
  color: var(--white);
  background-color: var(--positive);
}
#bottom-navigation > button:disabled{
  color: lightgray;
  background-color: gray;
}
#bottom-navigation > .left{
  background-color: var(--negative);
}

#interviewed .card{
  margin: 4px 15px;
  
}
#interviewed #left-card{
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
  padding: 25px;
}
#interviewed #left-card #icon-row{
  display: grid;
  grid-template-columns: 80px auto;
  margin-bottom: 15px;
}
#interviewed #left-card #icon{
  font-size: 60px;
  display: inline;
  color: var(--main-color);
}
#interviewed #right-card{
  border: 2px solid var(--main-color);
  border-radius: 4px;
  padding: 25px;
}
#right-card #title{
  margin: 0;
}
#questions{
  display: flex;
  height: 100%;
  flex-direction: column;
}
#questions #question-container{
  display: grid;
  height: 100%;
  grid-template-columns: 5% auto 5%;
}
#questions .question-slide{
  text-align: center;
  font-size: x-large;
}
#questions .question-slide #title{
  color: var(--label-color);
}
#questions .question-slide #question{

}
#questions .question-slide #field-set{
  width: 50%;
}
#questions .question-slide #field-container{
  justify-content: space-around;
}

.g-txtcenter{
  text-align: center;
}
#results #card-container{
  padding: 0 3%;
}
#results .card{
  margin-bottom: 40px;
}
#results #left-card{
  
}
#results #right-card{
  display: flex;
  flex-direction: row;
  width: 100%;
}
#results #right-card > h2{
  display: inline;
  width: fit-content;
}
#results #right-card > #see-results{
  margin-left: auto;
}
#results #right-card #table-container{
  width: 100%;
  overflow: hidden;
}
#results #right-card #table{
  
}
.g-subheader{
  margin: 5px 0;
}
.g-table{
  table-layout:fixed;
}
.g-table td{
  word-break: break-all;
}
#results-modal{
  
}
#results-modal #table{
  
}
#results-modal #header{
  position: relative;
}
#results-modal #header #close{
  --XD: 55px;
  position: absolute;
  right: 20px;
  top: 15px;
  width: var(--XD);
  height: var(--XD);
  font-size: var(--XD);
  cursor: pointer;
}
#results-modal #header #close > svg{
  width: 100%;
  height: 100%;
}
#results-modal #table .header-cell{
  background-color: var(--main-color);
  color: var(--white);
}
#results-modal #table .answer-cell{
  width: 80px;
}
.g-modal{

}
.g-modal .modal-table{
  max-height: 50vh;
  width: 100%;
  overflow-x: hidden;
}
.g-modal.g-modal span.text{
  line-height: 1.6;
  font-size: 1.6em;
}
.g-modal.g-modal svg.icon{
  position: relative;
  top: 5px;
  color: var(--main-color);
}
.g-field{

}
.g-field .label{
  color: var(--label-color);
  font-size: large;
}
.g-field .input{

}
.g-field .text{
  font-size: large;
}
.g-checkbox{
  color: var(--main-color)!important
}